* {
    margin: 10px;
    padding: 10px;
}
.container{
    width: 950px;
    height: 670px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 660px;
    float: right;
    background-color: red;
}
.side-nav, .main {
    
    display: inline-block; 

}
.sub-content {
    height: 160px;
    width: 170px;
    padding: 10px;
    margin: 10px;
    vertical-align: bottom;
    display: inline-block;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 620px;
    background-color: purple;
    vertical-align: bottom;
    margin: 10px;
    padding: 10px;
}